@font-face {
    font-family: 'Brittany Signature';
    src: url('BrittanySignature.eot');
    src: url('BrittanySignatured41d.eot?#iefix') format('embedded-opentype'),
         url('BrittanySignature.woff2') format('woff2'),
         url('BrittanySignature.woff') format('woff'),
         url('BrittanySignature.ttf')  format('truetype'),
         url('BrittanySignature.svg#Brittany Signature') format('svg');
}